events {

  integration-test-event-2022 {
    label "JSConf Budapest 2022"

    tickets {

      "*" {
        eventDate "September 24-25, 2020"
        netCateringPrice 40
      }
      "workshop" {
        eventDate "September 23, 2020"
        netCateringPrice 20
      }
      "online" {
        eventDate "September 24-25, 2020"
        netCateringPrice 0
      }

    }

    invoice {
      prefix "WIPAO"
      logo "JSCBP-szamlazzhu.png"
      e-invoice false
      currency "EUR"
      comment "
        The invoice includes mediated services.
        Paid in full.
        This document was issued electronically and is therefore valid without signature.
      "

      bank {
        name "Raiffeisen Bank, SWIFT: UBRTHUHB"
        accountNumber "HU18-1201-0659-0160-2199-0020-0008"
      }
    }

    email {
      replyToAddress "nec@jsconfbp.com"
      subject "Your invoice for Integration Test Event 2020"
      message "
        Dear Attendee!

        Thank you for taking part in Reinforce AI Conference 2020.

        Please find attached our official invoice for the Reinforce AI conference.
        In case you have an issue with the invoice please reply to this e-mail.
        In case you have a general question regarding the conference please write to: hello@reinforceconf.com

        The Reinforce conference team
      "
    }

    titoSignatureValidator "TITO_TOKEN_TESTMODE"
  }
}
